$color:#000;
$background:transparent;
$purple:#5059c9;



.reach-content {
    
  padding-top: 5rem;
  padding-bottom: 5rem;

  

  .right-content {
    h1 {
        
       display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: inherit;
        font-weight: 600;
        line-height: 1.2;
        margin-top: 0;
       
    }

    p {
      margin: 1rem 0;
      color: #333;
 
    }
   
  }

  .left-content {
    position: relative;

    .main-hero-img {
      width: 100%;
      z-index: 1;
    }
    }
  }

