.AddToTeam{
  padding: 4rem 2rem;
  text-align: center;

  .Title-add{
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  
  .card-add{
    border: none;
    padding: 1.5rem 1rem;
    }

    .card-title {
      font-size: 1.1rem;
      margin-top: 0.5rem;
    }

    .card-text {
      font-size: 0.95rem;
      margin-top: 0.5rem;
    }
  }

