@use "Variables" as *;

@mixin customImage() {
  width: 100%;
  border-radius: 0;
  z-index: 1;
}

@mixin greyBackground() {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $grey;
}

@mixin btn-primary() {
  background-color: $purple;
  border-color: $purple;
  font-weight: 500;
  border-radius: 0;
}

@mixin btn-outline() {
  border: 1px solid $purple;
  color: $purple;
  background-color: $background;
  font-weight: 500;
  border-radius: 0;
}

@mixin CardBase() {
  .card {
    border: none;
    padding: 24px 16px;
  }

  .card-title {
    font-size: 17.6px;
    margin-top: 8px;
  }

  .card-text {
    font-size: 15.2px;
    margin-top: 8px;
  }
}

@mixin card-img-top() {
  .card-img-top {
   width: 100px;
   height: 100px;
    margin: 0 auto 0 auto;
  }
}

@mixin Left-Content() {
  h1 {
    display: block;
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  p {
    margin: 16px 0;
  }

  .buttons {
    display: flex;
    gap: 16px;
  }
}

@mixin Title(){
      font-size: 32px;
      margin-bottom: 16px;
}

@mixin subtitle(){
   font-size: 16px;
    max-width: 720px;
    margin: 0 auto 24px auto;
}

//Hero-Section
.custom-outline-black {
  color: $color;
  border: 1px solid $color;
  background-color: $background;
  margin: 10px;
  margin-right: 20px;

  &:hover {
    color: $color;
    background-color: $background ;
    border-color: $color;
  }
}

.main-content {
  @include greyBackground();

  .left-content {
    @include Left-Content();

    .btn-primary {
      @include btn-primary();
    }

    .btn-outline {
      @include btn-outline();
    }
  }

  .right-content {
    .main-hero-img {
      @include customImage();
    }
  }
}

//Small_business
.small-business {
  padding: 64px 32px;
  text-align: center;

  .title {
       @include Title();
  }

  .subtitle {
      @include subtitle();
  }

  @include CardBase();
  @include card-img-top();
}

//Streamline
.main {
  padding-top: 80px;
  padding-bottom: 80px;

  .left-content {
    @include Left-Content();

    .btn-primary {
      @include btn-primary();
    }

    .btn-outline {
      @include btn-outline();
    }
  }

  .right-content {
    .main-copilot-img {
      @include customImage();
    }
  }
}

//Price
.price {
  padding: 64px 32px;
  text-align: center;
  margin:auto 192px auto 192px;
}

.title-price{
  @include Title();
}

.subtitle-Price{
  @include subtitle();
  margin-bottom: 48px;
}
.price-card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 10px;

  .card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.btn-price {
  @include btn-primary();
  color: #fff;
  margin-top: 10px;
  padding: 10px 20px;
}

.card-header {
  background-color: $purple;
  color: #fff;
}
.pt-1{
  padding-top: 20px;
}
.pt-custom-title{
  padding-top: 80px;
}

.pricing-card-title {
  color: $purple;
}

.subheading {
  padding: 30 30 0 0;

}

.list{
  margin-top: 96px;
}

.tick-list {
  list-style: none;
  padding: 32px;
  margin: 0;
  text-align: left;

  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;

    &::before {
      content: "✓";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

//Explore_apps
.explore {
  padding: 64px 32px;
  text-align: center;
  background-color: $purple;
  color: #fff;
}

.title-explore{
  @include Title();
}

.subtitle-explore{
  @include subtitle();
}

.explore-btn {
  color: $purple;
  border: none;
}

//reach
.reach-content {
  padding-top: 80px;
  padding-bottom: 80px;

  .right-content {
    h1 {
      display: block;
      font-size: 32px;
      margin-bottom: 16px;
      margin-top: 0;

    }

    p {
      margin: 16px 0;
    }
  }

  .left-content {
    .img {
      @include customImage();
    }
  }
}

//Add to team
.add-to-team{
  padding: 64px 32px;
  text-align: center;

  .title-add {
   @include Title();
  }

  @include CardBase();
}

//Help
.help {
  padding: 64px  32px;
  text-align: center;

  .title {
    @include Title();
  }

  @include CardBase();
  @include card-img-top();

}

//microsoftPlan
.plan-content {
  @include greyBackground();
  width: 85%;

  .left-content {
    @include Left-Content();

    .btn-primary {
      @include btn-primary();
    }

    .btn-outline {
      @include btn-outline();
    }
  } 

  .right-content {
    .plan-img {
      @include customImage();
    }
  }
}

//--------------------------------------------mobile responsive-------------------------------------------------
@media (max-width: 768px) {
  .card-img-top {
    width: 30vw;
    height: 30vw;
  }

  h1, .card-title, .title
  ,.title-explore,.subtitle-explore
   {
    font-size: 24px;
  }

  .subtitle, .card-text {
    font-size: 14.4px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .small-business,
  .explore {
    padding: 32px 16px;
  }

  .price{
     margin:auto 16px auto 16px;
  }
}

@media (max-width: 480px) {
  .card-img-top {
    width: 30vw;
    height: 30vw;
  }

  h1, .card-title, .title,
  .title-explore,.subtitle-explore {
    font-size: 19.2px;
  }

  .subtitle, .card-text {
    font-size: 12.8px;
  }
}